[Unit]
Description=Queen Monitor Daemon
After=network.target

[Service]
User=player1
WorkingDirectory=/home/player1/primecam_readout/src
ExecStart=/usr/bin/python3 /home/player1/primecam_readout/src/queen_cli.py 8 -q
Restart=always
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target